<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to 'Home', lists_path %>
    </li>
  </ol>
</nav>

<h1> Home </h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id) %></li>
  <% end %>
</ul>
<%= link_to 'Create new list', new_list_path %>
